Repository abhishek-0713/thinkable-head-979, pull requests merged in 2023-01, with the labels that each got.

#26 entity relationships added for all entities
  Kapsi/src/main/java/com/kapsi/model/Cab.java
  Kapsi/src/main/java/com/kapsi/model/Customer.java
  Kapsi/src/main/java/com/kapsi/model/Driver.java
  Kapsi/src/main/java/com/kapsi/model/TripBooking.java
  Kapsi/src/main/java/com/kapsi/service/LoginServiceImpl.java
Labels: enhancement, kapsi, entity-relationships

#27 global exception handling
  Kapsi/src/main/java/com/kapsi/controller/LogInController.java
  Kapsi/src/main/java/com/kapsi/exceptions/AdminException.java
  Kapsi/src/main/java/com/kapsi/exceptions/CabException.java
  Kapsi/src/main/java/com/kapsi/exceptions/CustomerException.java
  Kapsi/src/main/java/com/kapsi/exceptions/DriverException.java
  Kapsi/src/main/java/com/kapsi/exceptions/GlobalExceptionHandler.java
  Kapsi/src/main/java/com/kapsi/exceptions/TripBookingException.java
  Kapsi/src/main/java/com/kapsi/repository/TripBookingRepository.java
  Kapsi/src/main/java/com/kapsi/service/AdminServiceImpl.java
  Kapsi/src/main/java/com/kapsi/service/TripBookingServiceImpl.java
Labels: kapsi, exceptions

#28 Admin Service Implementation
  Kapsi/src/main/java/com/kapsi/controller/AdminController.java
  Kapsi/src/main/java/com/kapsi/model/AbstractUser.java
  Kapsi/src/main/java/com/kapsi/model/Admin.java
  Kapsi/src/main/java/com/kapsi/model/Driver.java
  Kapsi/src/main/java/com/kapsi/repository/AdminRepo.java
  Kapsi/src/main/java/com/kapsi/repository/CabRepo.java
  Kapsi/src/main/java/com/kapsi/repository/DriverRepo.java
  Kapsi/src/main/java/com/kapsi/repository/TripBookingRepo.java
  Kapsi/src/main/java/com/kapsi/repository/TripBookingRepository.java
  Kapsi/src/main/java/com/kapsi/service/AdminService.java
  Kapsi/src/main/java/com/kapsi/service/AdminServiceImpl.java
Labels: kapsi, login model

#29 added trip-booking service
  Kapsi/src/main/java/com/kapsi/controller/TripBookingController.java
  Kapsi/src/main/java/com/kapsi/exceptions/TripBookingException.java
  Kapsi/src/main/java/com/kapsi/service/TripBookingService.java
  Kapsi/src/main/java/com/kapsi/service/TripBookingServiceImpl.java
  Kapsi/src/main/resources/application.properties
Labels: kapsi, tripbooking

#37 update 1.0
  .gitignore
  .idea/.gitignore
  .idea/modules.xml
  .idea/thinkable-head-979.iml
  .idea/vcs.xml
  Kapsi/src/main/java/com/kapsi/model/Cab.java
  Kapsi/src/main/java/com/kapsi/model/Driver.java
  Kapsi/src/main/java/com/kapsi/model/TripBooking.java
  Kapsi/src/main/java/com/kapsi/service/AdminServiceImpl.java
  Kapsi/src/main/java/com/kapsi/service/DriverService.java
  Kapsi/src/main/java/com/kapsi/service/DriverServiceImpl.java
  Kapsi/src/main/resources/application.properties
Labels: kapsi

#38 Kapsi - The Clever Way
  Kapsi/src/main/java/com/kapsi/controller/AdminController.java
  Kapsi/src/main/java/com/kapsi/controller/CabController.java
  Kapsi/src/main/java/com/kapsi/controller/CustomerController.java
  Kapsi/src/main/java/com/kapsi/controller/DriverController.java
  Kapsi/src/main/java/com/kapsi/controller/LogInController.java
  Kapsi/src/main/java/com/kapsi/controller/TripBookingController.java
  Kapsi/src/main/java/com/kapsi/model/Cab.java
  Kapsi/src/main/java/com/kapsi/model/Driver.java
  Kapsi/src/main/java/com/kapsi/repository/CustomerRepo.java
  Kapsi/src/main/java/com/kapsi/service/AdminService.java
  Kapsi/src/main/java/com/kapsi/service/AdminServiceImpl.java
  Kapsi/src/main/java/com/kapsi/service/CabService.java
  Kapsi/src/main/java/com/kapsi/service/CabServiceImpl.java
  Kapsi/src/main/java/com/kapsi/service/CustomerService.java
  Kapsi/src/main/java/com/kapsi/service/CustomerServiceImpl.java
  Kapsi/src/main/java/com/kapsi/service/DriverService.java
  Kapsi/src/main/java/com/kapsi/service/DriverServiceImpl.java
  Kapsi/src/main/java/com/kapsi/service/TripBookingService.java
  Kapsi/src/main/java/com/kapsi/service/TripBookingServiceImpl.java
  Kapsi/src/main/resources/application.properties
Labels: kapsi
